{% extends "network/layout.html" %}

{% block title %}All Posts{% endblock %}

{% block body %}
<h1>All Posts</h1>
{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class='btn btn-primary'>Post</button>
    </form>
{% endif %}

    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <h3>{{ post.author|capfirst }}</h3>
            {% if user.is_authenticated %}
                {% if user != post.author %}   
                    <button id="unfollow_{{ post.id }}" style="float:right" class="follow btn btn-sm btn-outline-{% if post.author in following %}primary{% else %}success{% endif %}" onclick="edit_follow('{{ post.id }}', 'unfollow')">{% if post.author in following %}Unfollow{% else %}follow{% endif %}</button> 
                {% else %}
                    <button id="edit_{{ post.id }}" onclick='edit_post("{{ post.id }}")' class="btn btn-sm btn-link">Edit</button>
                {% endif %}
            {% endif %}
            <div id="content_{{ post.id }}">{{ post.content }}</div>
            <p class="created">{{ post.created }}</p>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> <span id="count_{{ post.id }}">{{ post.like.count }}</span>
            <br> 
            {% if user != post.author and user.is_authenticated %}
                <button id="like_{{ post.id }}" onclick='like_post("{{ post.id }}")' class="btn btn-sm btn-link">
                    {% if user not in post.like.all %}
                        like
                    {% else %}
                        unlike
                    {% endif %}
                </button>
            {% endif %}
        </div>
            {% empty %}
                <p>No posts found</p>
        {% endfor %}
    </div>
    <hr>
    {% include "network/pagination.html" with page=posts %}
{% endblock %}